.row
  .col.s12
    =link_to 'Back', root_path, class: 'btn'
    %h3= scrape.scrape_type.capitalize
    %p
      Scraped at
      = formatted_time(scrape.created_at)
.row
  .col.s12
    .row
      #listing-search.col.s4
        = search_form_for @search, url: scrape_path(scrape) do |f|
          .input-field
            = f.search_field :title_cont, id: 'listing-search-input', placeholder: 'Search'
          = f.submit class: 'btn blue lighten-1'
    = will_paginate @listings

    %table#listings-table.bordered.striped
      %thead
        %tr
          %th= sort_link(@search, :title, default_order: :desc)
          %th= sort_link(@search, :price, default_order: :desc)
          %th Date
      %tbody
        - @listings.each do |listing|
          %tr
            %td
              =link_to listing.title, listing.link
            %td= listing.price
            %td= listing.date
  = will_paginate @listings

